adminUser:
  organization: ${TSDB_ORG}
  bucket: ${TSDB_BUCKET}
  retention_policy: ${RETENTION}
persistence:
  enabled: ${PERSISTENCE}
env:
  - name: INFLUXD_BOLT_PATH
    value: ${INFLUXD_BOLT_PATH}